# Build results
bin/
obj/
*.exe
*.dll
*.pdb

# VS-specific folders
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet packages
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Entity Framework Migrations
Migrations/

# Log files
*.log

# Others
*.cache
*.dbmdl
*.DS_Store
Thumbs.db
